<!DOCTYPE html>
<html class="<%- ((typeof layout !== 'undefined') ? layout : '') %>">
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>spyfall.chat</title>

    <link rel="stylesheet" href="/css/client-theme.css">

    <script src="/js/jquery-latest.min.js"></script>

    <script src="/js/twemoji.min.js"></script>

    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="/js/react.development.js"></script>
    <script src="/js/react-dom.development.js"></script>

    <script src="/js/socket.io.dev.js"></script>

    <% if (typeof req !== 'undefined') { req.forEach(function(require){ %>
      <script src="<%- require %>.js"></script>
    <% }); } %>

    <script src="/client-components.js" crossorigin></script>
    <script src="/client-app.js"></script>
  </head>

  <body>
    <% if (typeof header == 'undefined' || header == true) { %>
    <header>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a class="uk-navbar-item uk-logo" href="/">spyfall.chat</a></li>
            <% include menu.ejs %>
          </ul>
        </div>
      </nav>
    </header>
    <% } %>
    <div class="uk-container game-stretch">
