
<nav class="menu menu--dustu">
  <a class="menu__item" href="/messages">
  	<span class="menu__item-name">Messages</span>
  	<span class="menu__item-label">Explore the portfolios</span>
  </a>
  <a class="menu__item" href="/game">
  	<span class="menu__item-name">Game</span>
  	<span class="menu__item-label">Discover fascinating stories</span>
  </a>
  <a class="menu__item" href="/signin">
  	<span class="menu__item-name">Sign In</span>
  	<span class="menu__item-label">View our event calendar</span>
  </a>
  <a class="menu__item" href="/signup">
  	<span class="menu__item-name">Sign Up</span>
  	<span class="menu__item-label">Read our mission statement</span>
  </a>
  <a class="menu__item" href="/open">
  	<span class="menu__item-name">Join</span>
  	<span class="menu__item-label">Get in touch and find us</span>
  </a>
</nav>
