<a class="menu__item" href="/messages">
	<span class="menu__item-name">Messages</span>
	<span class="menu__item-label">Open messaging to other users</span>
</a>
<a class="menu__item" href="/signup">
	<span class="menu__item-name">Sign Up</span>
	<span class="menu__item-label">Apply for a new account</span>
</a>
<a class="menu__item" href="/signin">
	<span class="menu__item-name">Sign In</span>
	<span class="menu__item-label">Log in with an account</span>
</a>
<a class="menu__item" href="/open">
	<span class="menu__item-name">Join</span>
	<span class="menu__item-label">Join a freshly created game</span>
</a>
<a class="menu__item" href="/game">
	<span class="menu__item-name">Game</span>
	<span class="menu__item-label">Start playing with your friends</span>
</a>
