
<li class="uk-navbar-item">
    <a href="/messages"><i>Messages</i></a>
</li>
<li class="uk-active uk-navbar-item">
    <a href="/game"><i>Game</i></a>
</li>
<li class="uk-navbar-item">
    <a href="/signin"><i>Sign In</i></a>
</li>
<li class="uk-navbar-item">
    <a href="/signup"><i>Sign Up</i></a>
</li>
<li class="uk-navbar-item">
    <a href="/open"><i>Join</i></a>
</li>
