//
// Core
//

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

@import "uikit/uikit-theme.scss";

$tertiary-color: #F6F6F6;

@import "plugin-dutsu";
@import "plugin-loader";

@mixin msgbubble() {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: left;
  white-space:pre;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.player-avatar, .menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4em;
  height: 4em;

  border-radius: 2em;

  margin: 0.2em;
}

.player-avatar {

  background-color: $global-secondary-background;
  color: $global-inverse-color;

  &.connected, &.player-user {
    background-color: $global-primary-background;
  }

  &.player-user {
    width: 3em;
    height: 3em;
    border: solid $global-emphasis-color .5em;
  }
  .player-label {
    font-size: 2em;
    font-weight: bold;
  }
}

.menu-button {
  background-color: $global-secondary-background;
  &, &:hover, &:active {
    color: $global-inverse-color;
  }
  &:hover, &:active {
    background-color: $global-primary-background;
  }
}

.menu-button-label {
  font-size: 4em;
}

.player-reaction {
  margin-top: -0.9em;
  font-size: 2em;
}

.msg-inbound, .msg-outbound {
  .msg-wrapper {
    @include msgbubble()
  }
}

.msg-inbound {
  text-align: left;
}

.msg-outbound {
  text-align: right;
}

.msg-inbound .msg-wrapper {
  background-color: $global-background;
  color: $global-emphasis-color;
}

.msg-outbound .msg-wrapper {
  background-color: $global-primary-background;
  color: $global-inverse-color;
}

.game-qa-talk {
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
}
.game-qa-talk-q, .game-qa-talk-a {
	padding: .5rem 2rem;
}
.game-qa-talk-q {
	position: relative;
	background-color: $global-primary-background;
	color: $global-background;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
  font-weight: bold;
}
.game-qa-talk-a {
	position: relative;
	background-color: $global-background;
	color: $global-secondary-background;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.game-talk-person {
  margin-top: .2em;
	color: $global-secondary-background;
  font-size: .7em;
  font-weight: 900;
  text-transform: uppercase;
	display: block;
}

html, body {
    height: 100%;
}

body {
  display: flex;

  header {
    flex-shrink: 0;
    overflow-y: auto;
  }

  .body-wrapper {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
}

.modal-loadable.loaded {
  .modal-loader {
    display: none;
  }
}

html.in-game {

  body {
    display: flex;
    flex-direction: column;
  }
  .body-wrapper {
    flex: 1 1 auto;

    width: 100%;
    margin: 0;
    max-width: none;
  }

  #game-container, .game-stretch {
    width: 100%;
    height: 100%;
  }

  .game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
  }

  .game-box {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .game-box-center {
    align-items: center;
    justify-content: center;
  }

  .dir-c {
    flex-direction: column;
  }



  .grow-h {
    height: 100%;
  }

  .grow-w {
    width: 100%;
  }

  .grow {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .no-shrink {
    flex-shrink: 0;
  }

  .scroll {
    overflow-y: auto;
    height: 0;
  }

  .game-flex-center {
    align-items: center;
    justify-content: center;
  }

  .game-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }



  .game-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }

  .game-scr-col {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .game-locations {
    line-height: 3;
  }

  .game-var-row {
    flex: 1 0 0;
    flex-direction: column;
    display: flex;
  }

  .player-box {
    overflow-y: auto;
    flex-shrink: 0;
  }

  .game-actions-wrap {
    height: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
  }

  .game-initiate, .game-toggler {
    height: 100%;
    margin: 0 0.2em;
  }

  .game-initiate {
    border-radius: 2em 2em 2em 0;
    background-color: $global-primary-background;

    &:disabled {
      &, &:hover, &:active {
        background-color: $global-secondary-background;
        color: $global-inverse-color;
        cursor: not-allowed;
      }
    }
  }

  .game-toggler {
    border-radius: 2em;
  }

  .game-locations {
    max-width: 100%;
  }

  .game-role-box {
    background-color: $tertiary-color;
    box-sizing: border-box;
  }

  .menu-icon > svg {
    max-width: 2em;
  }

  .no-margin {
    margin: 0 !important
  }

  @media(max-height:640px)  {
   font-size: 12px;
  }

  @media(max-width:720px)  {
    font-size: 12px;
  }

  @media(max-height:480px) {
   font-size: 8px;
  }

  @media(max-width:640px)  {
    font-size: 8px;
  }
}

.round-timer-position-wrap {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  transition: 0.5s;

  &:hover, &:active {
    opacity: 0.3
  }
}

.round-timer-wrap {
  position: relative;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: $global-primary-background; /**/
}
.round-timer-sector {
  fill: $global-primary-background; /**/
  stroke: $tertiary-color; /**/
  stroke-width: 50; /**/
  transition: 0.5s ease-out;
}

.round-timer-bg {
  fill: $global-background;
}

.round-timer-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0.2em;
  min-width: 1em;
  display: inline-block;
}
.round-timer-circle {
  transform: rotate(-90deg);
  border-radius: 50%;
}

.prog-timer-bg {

}

.prog-timer-bar {
  
}

a.uk-link-heading.uk-active:not(:hover) {
  color: $global-primary-background
}

@keyframes hidecard {
  0% {
    display: block;
    transform: rotate(90deg);
  }

  100% {
    opacity: 0;
    display: none;
    transform: rotate(0deg);
  }
}

@keyframes showcard {
  0% {
    display: block;
  }
}


@keyframes showemoji {
    0%   {
      width: 0;
      height: 0;
      opacity: 1;
    }
    50%   {
      opacity: 0.7;
    }
    100% {
      width: 2.3em;
      height: 2.3em;
      opacity: 0;
    }
}

.player-reaction {
  position: relative;
  z-index: 2;
  &.show::before {
    z-index: -1;
    content: ' ';
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $global-primary-background;
    animation-name: showemoji;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
  }
}
