<%- include('partials/head', {layout: 'in-game', header: false}) %>

<div id="game-container" class="game-stretch">

</div>

<div id="offcanvas-overlay" class="" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3><a href="/">spyfall.chat</a></h3>
    <nav class="menu menu--dustu dutsu-alternate">
      <%- include('partials/menu.ejs') %>
    </nav>
  </div>
</div>

<div id="spyfall-game-prompt" class="modal-loadable" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 id="spyfall-game-prompt-title" class="uk-modal-title">Games you're in</h2>
        <div class="modal-loader">
          <div class="uk-text-center">
            <div class="uk-margin-small-bottom">Finding Games Available...</div>
            <div class="lds-ripple"><div></div><div></div></div>
          </div>
        </div>
        <div id="spyfall-game-prompt-content" class="modal-content">

        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<div id="spyfall-game-ui-overlay">
  <div class="game-centered">
    <div id="spyfall-game-ui-overlay-content" class="uk-padding overlay-fade uk-position-relative uk-background-secondary">

    </div>
  </div>
</div>

<script>
  const domContainer = document.querySelector('#game-container');
  ReactDOM.render(React.createElement(SpyfallGameBox, {identifier: '1F'}), domContainer);
</script>

<%- include('partials/footer') %>
