<%- include('partials/head', {layout: 'in-game', header: false}) %>

<div id="game-container" class="game-stretch">

</div>

<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3>spyfall.chat</h3>
    <ul class="uk-nav uk-nav-primary">
      <%- include('partials/menu.ejs') %>
    </ul>
  </div>
</div>

<script>
  const domContainer = document.querySelector('#game-container');
  ReactDOM.render(React.createElement(SpyfallGameBox), domContainer);
</script>

<% include partials/footer %>
