<% include partials/head %>

<div id="game-container">

</div>

<script src="/js/material-ui.production.min.js"></script>
<script src="/client-components.js"></script>
<script>
  const domContainer = document.querySelector('#game-container');
  ReactDOM.render(React.createElement(SpyfallGameBox), domContainer);
</script>

<% include partials/footer %>
