<%- include('partials/head', {layout: 'in-game', header: false}) %>

<div id="game-container" class="game-stretch">

</div>

<div id="offcanvas-overlay" class="" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3><a href="/">spyfall.chat</a></h3>
    <nav class="menu menu--dustu dutsu-alternate">
      <%- include('partials/menu.ejs') %>
    </nav>
  </div>
</div>

<script>
  const domContainer = document.querySelector('#game-container');
  ReactDOM.render(React.createElement(SpyfallGameBox, {identifier: '1F'}), domContainer);
</script>

<% include partials/footer %>
