<% include partials/head %>

<form action="/api/create" method="post">
  <input type="hidden" name="webapp" value="true">
  <button type="submit" class="uk-button uk-button-primary">Create a Room</button>
</form>

<script src="/js/jquery-latest.min.js"></script>

<script src="/js/socket.io.dev.js"></script>
<script src="/client-game.js"></script>

<% include partials/footer %>
