<% include partials/head %>

    <form action="/api/join" method="post">
      <input type="hidden" name="webapp" value="true">

      <label>
        Room
        <input type="text" name="room">
      </label>

      <button type="submit">Submit</button>
    </form>

<% include partials/footer %>
