<% include partials/head %>

    <form action="/api/register?redirect=%2f" method="post">
      <label>
        Username
        <input type="text" name="username">
      </label>

      <label>
        Password
        <input type="password" name="password">
      </label>

      <button type="submit">Submit</button>
    </form>

<% include partials/footer %>
