<% include partials/head %>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
  <h1 class="uk-card-title">Signup for a <strong>spyfall.chat</strong> account</h1>
  <form action="/api/register" method="post">
    <input type="hidden" name="webapp" value="true">
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Username" name="username">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="password" placeholder="Password" name="password">
    </div>

    <button type="submit" class="uk-button uk-button-primary">Signup</button>
  </form>
</div>
<% include partials/footer %>
