<%- include('partials/head') %>

<div class="uk-card uk-card-primary uk-card-body">
    <div class="uk-card-badge uk-label">API</div>
    <h2 class="uk-card-title">Successfully <%= action %></h2>
    <p><%- message %></p>
</div>

<%- include('partials/footer') %>
